<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mgroup.assetsplacer">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk android:targetSdkVersion="21" />

    <application
        android:label="@string/app_name"
        android:theme="@android:style/Animation">

        <receiver android:name="com.mgroup.assetsplacer.BootReciver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.mgroup.assetsplacer.UnzipService" />
    </application>

</manifest>